body {
  background-color: #272739;
}

#introduction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-family: 'Cormorant Upright', serif;
  font-size: 52px;
  color: white;
  line-height: 20px;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

a:hover {
  text-decoration: underline;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: white;
}

div {
  color: white;
  font-size: 30px;
  line-height: 20px;
}

.tab {
  cursor: pointer;
}

.tabcontent {
  display: none;
}

#blurb {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
  font-size: 16px;
  color: white;
}

#contact {
  color: white;
}

i {
  color: white;
  padding-right: 20px;
}
