body {
  background-color: #272739;
}

#introduction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-family: 'Cormorant Upright', serif;
  font-size: 48px;
  color: white;
  line-height: 20px;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

a:hover {
  text-decoration: underline;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: white;
}
