/* Reference: https://stackoverflow.com/questions/7049875/
why-doesnt-height-100-work-to-expand-divs-to-the-screen-height */
body, html {
  height: 100%;
  width: 100%;
  margin: 0px;
}

/* Introduction Section */

#introduction {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #e8e5e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#introduction h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 40pt;
  font-weight: 400;
  color: #576770;
  line-height: 20px;
}

#introduction h2 {
  font-family: 'Assistant', sans-serif;
  font-size: 14pt;
  color: #576770;
  font-weight: 400;
}

#topnav {
  width: 100%;
  position: absolute;
  top: 20px;
}

#introduction a {
  font-family: 'Assistant', sans-serif;
  font-size: 14pt;
  text-decoration: none;
  color: #576770;
  padding-left: 20px;
  padding-right: 20px;
}

/* Scroll to top button */
/* Reference: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#topbtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  background-color: white;
}

/* About Section */

#about {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about h2 {
  margin: 0px;
  color: #945f4e;
  padding-bottom: 75px;
  font-family: 'Assistant', sans-serif;
  font-size: 28pt;
  text-align: center;
}

#blurb {
  width: 55%;
  color: #576d79;
  padding-bottom: 50px;
  font-family: 'Assistant', sans-serif;
  font-size: 14pt;
  text-align: justify;
}

#contact {
  color: #576d79;
  font-family: 'Assistant', sans-serif;
  font-size: 14pt;
  text-align: center;
  padding-bottom: 30px;
}

#contact img {
  height: 200px;
  width: 200px
}

#contact a {
  color: #869c9b;
}

#contact-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Recent Projects Section */
#portfolio {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#portfolio-title {
  color: #945f4e;
  padding-bottom: 75px;
  font-family: 'Assistant', sans-serif;
  font-size: 28pt;
  text-align: center;
}

/* Reference: https://www.w3schools.com/css/css_grid.asp */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 40px;
  background-color: transparent;
  padding-bottom: 40px;
}

.grid-item {
  background-color: #e1ecef;
  padding: 25px;
  border-radius: 3px;
  height: 120px;
  width: 140px;
  font-size: 20pt;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #576770;
  font-family: 'Assistant', sans-serif;
  font-size: 14pt;
}

.grid-item:hover {
  cursor: pointer;
}

.overlay {
  position: fixed;
  display: none; /* Hidden by default */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 40px;
  background-color: white; /* Black background with opacity */
}

.closebtn {
  color: #576770;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 36px;
  cursor: pointer;
}

.overlay h1 {
  color: #945f4e;
  font-family: 'Assistant', sans-serif;
  font-size: 28pt;
  text-align: center;
}

.overlay h2 {
  color: #576770;
  font-family: 'Assistant', sans-serif;
  font-size: 14pt;
  text-align: center;
}

.overlay p {
  color: #576770;
  font-family: 'Assistant', sans-serif;
  font-size: 12pt;
  margin: 0px;
}

#portfolio img {
  height: 100px;
  width: 180px;
  margin: 0px;
  cursor: pointer;
}

#portfolio button {
  background-color: transparent;
  border: none;
  outline: none;
}

/* Creating a modal for enlarged pictures */
/* Reference: https://www.w3schools.com/howto/howto_css_modal_images.asp */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  justify-content:
}

/* Add Animation - Zoom in the Modal */
/* .modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
} */

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}


/* The Close Button */
.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* Activities Section */
#activities {
  /* height: 100%; */
  padding-top: 30px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 10px;
}

#activities h2 {
  color: #945f4e;
  font-family: 'Assistant', sans-serif;
  font-size: 28pt;
}

#activities h3 {
  color: #576770;
  font-family: 'Assistant', sans-serif;
  font-size: 16pt;
}

#activities h4 {
  color: #576770;
  font-family: 'Assistant', sans-serif;
  font-size: 14pt;
}

#activities p {
  color: #576770;
  font-family: 'Assistant', sans-serif;
  font-size: 12pt;
}
