/* this allowed me to get all elements and text in center */
body {
  text-align: center;
}

/* changing the proportions of the preview images */
img {
  width: 75%;
  height: 90%;
}

#portfolio {
  display: inline-block;
  text-align: center;
}

.work {
  width: 40%;
  height: 50%;
  text-align: center;
  justify-content: space-between;
  display: inline-block;
  flex-wrap: wrap;
  padding: 30px;
}

h1 {
  text-align: center;
  color: #272739;
  font-size: 46px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 20px;
}

h2 {
  text-align: center;
  color: #272739;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #272739;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
